

header{
    display: flex; flex-direction: row; align-items: center;
    justify-content: space-between;
    position: fixed; top: 0;
    left: 0; right: 0;
    padding: 24px;
}

.ham{
    display: flex;flex-direction: column;
    padding: 8px;
    justify-content: space-between;
    height: 34px;
    cursor: pointer;
}

.ham span{
    background: var(--dark);
    padding: 2px;
    width: 20px;
    border-radius: 8px;
}