
:root{
    --purple: #7b62ff;
    --purple-over: #614ec4;
    --bg: #060810;
    --grey: #1c1d28;
}

*{padding: 0; margin: 0; box-sizing: border-box;}

body{
  font-family: montserrat;
 min-height: 100vh;
  display: flex;
  background: var(--bg);
  color: #fff;
  align-items: center;
  justify-content: center;
}